.disk {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 690px;
    margin-top: 150px;
}

.disk_swiper {
    width: 1800px;
}

.swiper_btn:hover {
    background-color: rgba(255, 255, 255, 0.295);
}

.swiper-slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
}
.swiper-slide:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.247);
    opacity: 0;
    transition: opacity 0.4s linear;
}
.swiper-slide:hover:before,
.swiper-slide:hover:after {
    opacity: 1;
}
.swiper-slide .swiper_btn {
    position: absolute;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.swiper_btn {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 100px;
    transition: all 0.3s;
    z-index: 10;
}

.swiper-slide:hover .swiper_btn {
    opacity: 1;

}
.swiper_text{
    display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-right: 6%;
    margin-top: 50px;
}

